PROJECT TITLE:

Climate-Induced Disaster Pattern Analysis: Detecting Emerging Risks from Historical Events

PROBLEM STATEMENT :

In recent decades, the frequency and intensity of natural disasters such as floods, storms, droughts, wildfires, and cyclones have increased significantly. Scientific studies suggest that these changes are closely linked to climate change and its cascading effects on weather systems. However, disaster management efforts are often reactive rather than proactive due to a lack of clear insights into long-term patterns and emerging risks.

This project aims to analyze historical global disaster data to identify climate-induced trends, patterns, and emerging risks. By studying decades of disaster records, the project will highlight how climate change is reshaping disaster frequency, geographic spread, and human impact. These insights can support early warning systems, policy formulation, and disaster preparedness strategies, ultimately reducing vulnerabilities and saving lives.

In [3]:
import pandas as pd

# Load with correct filename
df = pd.read_csv("1900_2021_DISASTERS.xlsx - emdat data.csv")

# Explore dataset
df.info()
print("\n")
print(df.describe())
print("\n")
print("Missing values:\n", df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16126 entries, 0 to 16125
Data columns (total 45 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        16126 non-null  int64
 1   Seq                         16126 non-null  int64
 2   Glide                       1581 non-null   object
 3   Disaster Group              16126 non-null  object
 4   Disaster Subgroup           16126 non-null  object
 5   Disaster Type               16126 non-null  object
 6   Disaster Subtype            13016 non-null  object
 7   Disaster Subsubtype         1077 non-null   object
 8   Event Name                  3861 non-null   object
 9   Country                     16126 non-null  object
 10  ISO                         16126 non-null  object
 11  Region                      16126 non-null  object
 12  Continent                   16126 non-null  object
 13  Location                    14334 non-null  object
 14  Origin                      3794 non-null   object
 15  Associated Dis              3348 non-null   object
 16  Associated Dis2             707 non-null    object
 17  OFDA Response               1694 non-null   object
 18  Appeal                      2569 non-null   object
 19  Declaration                 3256 non-null   object
 20  Aid Contribution            677 non-null    float64
 21  Dis Mag Value               4946 non-null   float64
 22  Dis Mag Scale               14936 non-null  object
 23  Latitude                    2729 non-null   object
 24  Longitude                   2732 non-null   object
 25  Local Time                  1103 non-null   object
 26  River Basin                 1287 non-null   object
 27  Start Year                  16126 non-null  int64
 28  Start Month                 15739 non-null  float64
 29  Start Day                   12498 non-null  float64
 30  End Year                    16126 non-null  int64
 31  End Month                   15418 non-null  float64
 32  End Day                     12570 non-null  float64
 33  Total Deaths                11413 non-null  float64
 34  No Injured                  3895 non-null   float64
 35  No Affected                 9220 non-null   float64
 36  No Homeless                 2430 non-null   float64
 37  Total Affected              11617 non-null  float64
 38  Insured Damages ('000 US$)  1096 non-null   float64
 39  Total Damages ('000 US$)    5245 non-null   float64
 40  CPI                         15811 non-null  float64
 41  Adm Level                   7859 non-null   object
 42  Admin1 Code                 4581 non-null   object
 43  Admin2 Code                 3969 non-null   object
 44  Geo Locations               7859 non-null   object
dtypes: float64(14), int64(4), object(27)
memory usage: 5.5+ MB


               Year           Seq  Aid Contribution  Dis Mag Value  \
count  16126.000000  16126.000000      6.770000e+02   4.946000e+03
mean    1996.764790    714.784820      1.254136e+05   4.735038e+04
std       20.159065   1929.635089      2.997875e+06   3.094242e+05
min     1900.000000      1.000000      1.000000e+00  -5.700000e+01
25%     1989.000000     93.000000      1.750000e+02   7.000000e+00
50%     2001.000000    270.000000      7.210000e+02   1.515000e+02
75%     2011.000000    486.000000      3.511000e+03   1.129650e+04
max     2021.000000   9881.000000      7.800000e+07   1.302587e+07

        Start Year   Start Month     Start Day      End Year     End Month  \
count  16126.00000  15739.000000  12498.000000  16126.000000  15418.000000
mean    1996.77837      6.444374     15.233957   1996.835607      6.576728
std       20.15571      3.393965      8.953821     20.143010      3.352965
min     1900.00000      1.000000      1.000000   1900.000000      1.000000
25%     1989.00000      4.000000      7.000000   1989.000000      4.000000
50%     2001.00000      7.000000     15.000000   2001.000000      7.000000
75%     2011.00000      9.000000     23.000000   2011.000000      9.000000
max     2021.00000     12.000000     31.000000   2021.000000     12.000000

            End Day  Total Deaths    No Injured   No Affected   No Homeless  \
count  12570.000000  1.141300e+04  3.895000e+03  9.220000e+03  2.430000e+03
mean      15.775020  2.842866e+03  2.621102e+03  8.823612e+05  7.329314e+04
std        8.865486  6.860595e+04  3.440343e+04  8.573913e+06  5.230058e+05
min        1.000000  1.000000e+00  1.000000e+00  1.000000e+00  3.000000e+00
25%        8.000000  6.000000e+00  1.400000e+01  1.244750e+03  5.725000e+02
50%       16.000000  2.000000e+01  5.000000e+01  1.000000e+04  3.000000e+03
75%       23.000000  6.300000e+01  2.000000e+02  9.182300e+04  1.750000e+04
max       31.000000  3.700000e+06  1.800000e+06  3.300000e+08  1.585000e+07

       Total Affected  Insured Damages ('000 US$)  Total Damages ('000 US$)  \
count    1.161700e+04                1.096000e+03              5.245000e+03
mean     7.165088e+05                7.986514e+05              7.247835e+05
std      7.718598e+06                3.057638e+06              4.723131e+06
min      1.000000e+00                3.400000e+01              2.000000e+00
25%      6.500000e+02                5.000000e+04              8.300000e+03
50%      5.965000e+03                1.725000e+05              6.000000e+04
75%      5.825500e+04                5.000000e+05              3.173000e+05
max      3.300000e+08                6.000000e+07              2.100000e+08

                CPI
count  15811.000000
mean      63.215103
std       26.734285
min        3.221647
25%       45.692897
50%       68.415379
75%       84.252733
max      100.000000


Missing values:
 Year                              0
Seq                               0
Glide                         14545
Disaster Group                    0
Disaster Subgroup                 0
Disaster Type                     0
Disaster Subtype               3110
Disaster Subsubtype           15049
Event Name                    12265
Country                           0
ISO                               0
Region                            0
Continent                         0
Location                       1792
Origin                        12332
Associated Dis                12778
Associated Dis2               15419
OFDA Response                 14432
Appeal                        13557
Declaration                   12870
Aid Contribution              15449
Dis Mag Value                 11180
Dis Mag Scale                  1190
Latitude                      13397
Longitude                     13394
Local Time                    15023
River Basin                   14839
Start Year                        0
Start Month                     387
Start Day                      3628
End Year                          0
End Month                       708
End Day                        3556
Total Deaths                   4713
No Injured                    12231
No Affected                    6906
No Homeless                   13696
Total Affected                 4509
Insured Damages ('000 US$)    15030
Total Damages ('000 US$)      10881
CPI                             315
Adm Level                      8267
Admin1 Code                   11545
Admin2 Code                   12157
Geo Locations                  8267
dtype: int64

In [4]:
# Show first 10 rows
df.head(10)

,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Country,...,No Affected,No Homeless,Total Affected,Insured Damages ('000 US$),Total Damages ('000 US$),CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1900,9002,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,Cabo Verde,...,NaN,NaN,NaN,NaN,NaN,3.221647,NaN,NaN,NaN,NaN
1,1900,9001,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,India,...,NaN,NaN,NaN,NaN,NaN,3.221647,NaN,NaN,NaN,NaN
2,1902,12,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,Guatemala,...,NaN,NaN,NaN,NaN,25000.0,3.350513,NaN,NaN,NaN,NaN
3,1902,3,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Guatemala,...,NaN,NaN,NaN,NaN,NaN,3.350513,NaN,NaN,NaN,NaN
4,1902,10,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Guatemala,...,NaN,NaN,NaN,NaN,NaN,3.350513,NaN,NaN,NaN,NaN
5,1903,6,NaN,Natural,Geophysical,Mass movement (dry),Rockfall,NaN,NaN,Canada,...,NaN,NaN,23.0,NaN,NaN,3.479379,NaN,NaN,NaN,NaN
6,1903,12,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Mount Karthala,Comoros (the),...,NaN,NaN,NaN,NaN,NaN,3.479379,NaN,NaN,NaN,NaN
7,1904,3,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,Bangladesh,...,NaN,NaN,NaN,NaN,NaN,3.479379,NaN,NaN,NaN,NaN
8,1905,5,NaN,Natural,Geophysical,Mass movement (dry),Rockfall,NaN,NaN,Canada,...,NaN,NaN,18.0,NaN,NaN,3.479379,NaN,NaN,NaN,NaN
9,1905,3,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,India,...,NaN,NaN,NaN,NaN,25000.0,3.479379,NaN,NaN,NaN,NaN

In [5]:
print("Dataset Shape:", df.shape)

Dataset Shape: (16126, 45)

In [6]:
print("Disaster Types:", df["Disaster Type"].unique())
print("\nNumber of Disaster Types:", df["Disaster Type"].nunique())

Disaster Types: ['Drought' 'Earthquake' 'Volcanic activity' 'Mass movement (dry)' 'Storm'
 'Flood' 'Epidemic' 'Landslide' 'Wildfire' 'Extreme temperature ' 'Fog'
 'Insect infestation' 'Impact' 'Animal accident' 'Glacial lake outburst']

Number of Disaster Types: 15

In [7]:
missing_percent = (df.isnull().sum() / len(df)) * 100
missing_percent.sort_values(ascending=False).head(10)

Aid Contribution              95.801811
Associated Dis2               95.615776
Disaster Subsubtype           93.321344
Insured Damages ('000 US$)    93.203522
Local Time                    93.160114
River Basin                   92.019100
Glide                         90.195957
OFDA Response                 89.495225
No Homeless                   84.931167
Appeal                        84.069205
dtype: float64